<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Edit an article</h1>
    <form method="POST" action="/articles/<%=articlesList.id%>?_method=PUT">
      <input type="text" name="title" placeholder="Article title" value="<%= articlesList.title %>"><br />
      <input type="text" name="author" placeholder="Article author" value="<%= articlesList.author %>"><br />
      <textarea name="content">
      	<%= articlesList.content %>
      </textarea><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
