<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
	<img src="http://i288.photobucket.com/albums/ll198/hellokittykettlebells/images_zpsemmqek4p.png" alt="Special Edition">
	
<h1>Articles index</h1>
<% articlesList.forEach(function(article) { %>
<div>
  <a href="/articles/<%= article.id %>"><%= article.title %></a>
  <div>
    <%= article.content %>
  </div>
</div>
<% }) %>
<br><br>
<a href="/articles/new">Add a New Article</a>
<br><br>
<a href="/">Back to the Main Page</a>
</body>
</html>

